.notification-card-container {
  margin-bottom: 0.5rem;
}

.notification-card-content-container {
  border-left: solid 10px; 
}

.notification-card-content-severe {
  border-left-color: red;
}

.notification-card-content-warning {
  border-left-color: #e8a830;
}

.notification-card-content-info {
  border-left-color: green;
}

.notificationfilter-container {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.notification-card-delete {
  float: right;
}

.notification-severity-filter {
  height: 2rem;
}

.notification-severity-filter-label {
  font-weight: bold;
}

.notification-add {
  float: right;
}