.notification-card-container {
  margin-bottom: 0.5rem;
}

.notification-card-content-container {
  border-left: solid 10px;
}

.notification-card-content-severe {
  border-left-color: red;
}

.notification-card-content-warning {
  border-left-color: #e8a830;
}

.notification-card-content-info {
  border-left-color: green;
}

.notificationfilter-container {
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.notification-card-delete {
  float: right;
}

.notification-severity-filter {
  height: 2rem;
  width: 10rem;
  border-radius: 0.5rem;
  border: 0.8px solid black;
  margin: 5px;
}

.notification-severity-filter-label {
  font-weight: bold;
  margin: 5px;
}

.notification-add {
  float: right;
}
